header{
	margin-top: -20px;
	overflow: hidden;
	position: fixed;
	background: white
}
header h1{
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #7e7e7e;
}
nav{
	padding-top: 38px;
	float: right;
}
nav li{
	display: inline;
}
a{
	text-decoration: none;
	color: #7e7e7e;
}
a:hover{
	color: black;
}
.main{
	margin-top: 20px;
}
footer div{
	background-color: #2F2E2E;
}
footer div ul{
	list-style: none;
}
footer div ul li{
	color: #7e7e7e;
	text-align: justify;
}
footer div ul li:first-child{
	font-weight: bold;
	text-decoration: underline;
}
.footer_first_section{
	margin-left: 0;
}
.footer_last_section ul li:first-child{
	text-decoration: none;
}
.main h2,p{
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
	color: #424242;
}
.main h2{
	text-align: center;
}
.hero{
	margin-top: 110px;
}
blockquote h1{
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #4F4E4E;
	margin-bottom: 35px;
}
.news_section div h3 a{
	font-family: 'Montserrat', sans-serif;
	color: #424242;
}
.news_section div h2{
	font-family: 'Montserrat', sans-serif;
	color: #424242;
}
.news_section_list div{
	text-align: justify;
}
.news_section_list div h3{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: -10px;
	line-height: 25px;
}
.news_section_list div h3 a{
	font-family: 'Montserrat', sans-serif;
	color: #424242;
}
.news_section_list div h4{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.hr{ 
	width:100%; 
	height:1px; 
	background: #fff 
}

